<?xml version="1.0" ?>

<robot name="Roberta_P80_800" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find gomtec_robot_description)/urdf/P80_800_macro.xacro"/>
	<xacro:P80_800 prefix=""/>

	<xacro:include filename="$(find gomtec_robot_description)/urdf/RoboCommander_macro.xacro"/>
	<xacro:RoboCommander prefix="" flange_link="link_flange"/>

	<include filename="$(find gomtec_robot_description)/urdf/CameraGripper_macro.xacro"/>
	<xacro:CameraGripper prefix="" flange_link="link_RoboCommander"/>
	
	<xacro:include filename="$(find gomtec_robot_description)/urdf/kinect_camera.urdf.xacro"/>
	<xacro:kinect_camera_model prefix="" flange_link="link_RoboCommander"/>

</robot>
